@import url('https://fonts.googleapis.com/css?family=Monserrat:400,700|Pacifico');

*{
    box-sizing: border-box;
}
body{
    background:	#B2BEB5;
    color: black;
    background-color: #D5E5F5;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
     background-attachment: fixed;
     background-size: cover;
    font-size: 16 px;
    font-family: 'Oswald','sans-serif';
}
/*------Estilos base-----*/
img{
    display: block;
    width:100%;
    max-width:100%;
}
h1,h2,h3,h4,h5,h6{
    margin: 0;
}
.container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.column{
    width: 100%;
}
/*------Estilos header-----*/
.main-header{
    width: 100%;
    background: white;
}
.logo{
    font-size: 2rem;
    color: #DE423A;
    padding: 10px;
    font-family: 'Oswald',sans-serif;
    font-weight:6px;
}
.main-header__contactInfo__phone{
    background: #DE423A;
    color: white;
    margin: 0 auto;
    padding: 10px;
}
.main-header__contactInfo__address{
    padding: 10px;
    margin: 0;
}
.main[class*="icon-"]{
    position: relative;
    top: 2px;
    right: 5px;
}
/*------Estilos del Menú-----*/
.main-nav{
    width:100%;
    position:relative;
    z-index:2000;
    padding: 10px;
}
.icon-menu{
    display: block;
    color: white;
    border: 1px solid white;
    border-radius: 3px;
    width:40px;
    height: 40px;
    line-height: 42px;
    text-align: center;
    cursor: pointer;
    font-size: 1.5em;
}
.social-icon{
    display: flex;
    justify-content:space-between;
}
.social-icon[class*="icon-"]{
    color:grey;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size: 1.3em;
    width:35px;
    height: 35px;
    background: white;
    border-radius: 50%;
}
.social-icon__link{
    text-decoration: none;
}
.menu{
    position: absolute;
    top: 60px;
    left:0;
    width: 100%;
    background: grey;
    padding:0;
    margin:0;
    list-style: none;
    text-align: center;
    height: 0;
    overflow: hidden;
    transition: height .3s linear;
}
.menu__link{
    display: block;
    padding: 15px;
    color:white;
    text-decoration: none;
}
.menu__link--select{
    background: #DE423A;
}
.mostrar {
    height: 196px;

}
/*------Estilos del Menú-----*/
.banner{
    margin-top: -55px;
    position: relative;
}
.banner:before{
    content: '';
    position:absolute;
    width:100%;
    height: 100%;
    margin-top:110px ;
    background: url('/Acantilado.jpg') no-repeat center center/cover;
    z-index:1000;
    top:0;
    border: none;
}
.banner__img{
    width:100%;
    height: 500px;
    object-fit: cover;
}
.banner__content{
    width: 90%;
    color: white;
    text-align: center;
    position: absolute;
    z-index: 1500;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5em;
    font-weight: bold;
}
/*-------Estilos principales-------*/

.group--color .container{
    background: white;
    color: #B7B7B7;
    padding: 10px;
    text-align: center;
} 

.main__title {
    margin: 15px 0;
    font-size: 1.8em;
    font-family: 'Pacifico';
    font-weight: 100;
}
.column__title{
    font-size: 1.3em;
}
.main__about__description .column:nth-child(2){
    padding: 10px;
}
.btn{
    display:block;
    text-align: center;
    text-decoration: none;
    width: 120px;
    background: #E3E3E3;
    color: white;
    padding: 10px;
    margin: 10px auto;
}
.group--title{
    font-family: 'Pacifico',cursive;
    text-align: center;
    font-weight: 100;
    font-size: 1.8em;
    margin:30px ;
}
.today-special .column{
    margin-bottom: 30px;
    text-align: center;
}

.today-special__img{
    margin: auto;
    max-width: 350px;
    width: 55%;
}
.today-special__title{
    text-align:center;
    font-size: 1.3em;
    padding-top: 10px;
    padding-bottom: 20px;
}
.today-special__price {
    font-size: 1.5em;
    color:#DE423A;
    font-weight: bold;

}
/*-------Estilos del footer-------*/
.main-footer{
    background: grey;
    color: white;
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: .8em;
}
.copy{
    text-align: center;
    margin: auto;
    margin-top: 15px;
}
.main-footer[class*="icon-"]{
    color: white;
    text-decoration: none;
}
.main-footer[class*="icon-"]:before{
    position: relative;
    top:5px;
    right: 5px;
}
/*-------Estilos responsive-------*/
@media screen and (min-width:480px){
    .logo{
        color: black;
    }
    .main-header__contactInfo{
        text-align: right;
    }
    .main-header__contactInfo__phone{
        background: none;
    }
    .main-header__contactInfo__adress{
        color: white;
    }
    .main-nav{
        background: gray;
    }
    .banner{
        margin-top: -145px;
        z-index: -1000;;
    }
    .banner__content{
        font-size: 2em;
    }
    .column--50{
        width: 49.5%;
    }
    .column--50-25{
        width: 49%;
    }
    .column--50-25_{
        width: 49%;
    }
    .column--33{
        width: 32%;
    }
    .main__about__description .column:nth-child(2){
        padding-left: 20px;
        font-size: .9em;
    }
    .main__about__description .column:nth-child(2) .btn{
        margin: 0;
    }
    .today-special .column{
        border: 5px solid #ddd;
        padding: 5px;
    }
    .today-special__img{
        height: 200px;
        object-fit: cover;
    }
}
@media screen and (min-width:768px) {
    .main__title{
        font-size: 2.2em;
    }
    .main__about__description{
        margin-top: 30px;
    }
    .main__about__description .column--50:nth-child(2){
        font-size: 1em;
    }
    .main__about__description .column--50:nth-child(2) .column__txt{
        line-height: 30px;
    }
    .column--50-25{
        width: 24.5%;
    }
    .column--50-25_{
        width: 24.5%;
        opacity: 0.0000001;
    }
    .column__title{
        font-size: 1em;
    }
    .group--title{
        font-size: 1em;
    }
    @media screen and(min-width:1024px){
        .logo{
            font-size: 2em;
            padding: 0;

        }
        .main-header__contactInfo__phone,.main-header__contactInfo__address{ 
            padding-right: 0;
            font-size: 1.15em;
        }
        .main-nav{
            padding: 0;
        }
        .banner__content{
            font-size: 2.5em;
        }
        .icon-menu{
            display: none;
        }
        .menu{
            position: static;
            display: flex;
            height: auto;
            width: auto;
        }
        .menu__link{
            padding: 20px;
        }
        .group--color .container{
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 20px;
        }
        .main__title{
            font-size: 2.2em;
        }
        .main__about__description .column--50:nth-child(2) .column__txt{
            line-height: 45px;
        }
        .today-special__title{
            font-size: 1.4em;
        }
        .today-special__price{
            font-size: 1.8em ;
        }
        .main-footer{
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
    @media screen and (min-width:1600px) {
        .container{
            width:1400px;
        }
        .main__about__description .column:nth-child(1) img{
            width: 100%;
            height: 350px;
            object-fit: cover;
        }
        
    }
}
