*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}




.nav-menu {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.nav-menu > li > a{
  display: block;
  padding: 15px 20px;
  color: black; 
  text-decoration: none;
}

.nav-menu > li:hover{
  background-color: #A2FEF4;
}

.menu-vertical{
  position: absolute;
  display: none;
  list-style: none;
  width: 200px;
  background-color: rgba(0, 0, 0, .5 );
}

.nav-menu li:hover .menu-vertical{
  display: block;
}

.menu-vertical li:hover{
  background-color: #DFE0E0;
}

.menu-vertical li a{
  display: block;
  color: white;
  padding: 15px 15px 15px 20px;
  text-decoration: none;
}










html{
    scroll-behavior: smooth;
}
body{
    background:	#B2BEB5;
    color: black;
     background:	#B2BEB5;
     background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23ffffff'/%3E%3Cstop offset='1' stop-color='%234FE'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
     background-attachment: fixed;
     background-size: cover;
    font-size: 16 px;
    font-family: 'Oswald','sans-serif';
}

a{
    color:black;
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    width: 90%;
    margin: auto;
}
/* Navigation*/
.nav-main{
    font-size: 17px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 20 px 0;
}

.btns i {
    margin-top: 0;  
}

.titulologo{
    font-size: 3rem;
    margin-left: 8px;
    -webkit-text-stroke: .7px #000000 ;
    color: #DFEDF8;
}
.nav-logo{
    width: 50px;
    margin-top: 3px;
    margin-left:.3px;
    margin-right: 15px;
}

 /*---SWITCH----*/

 /*NAV-LEFT*/
 .nav-main ul{
    display: flex;
 }
 .nav-main ul li{
    padding: 10px;
 }
 .nav-main ul li a{
    padding: 2px;
 }
 .linea{
    background: #ffffff ;
    margin: 15px;
 }
 .nav-main  ul li a:hover{
    border-bottom:2px solid #ffffff;
 }
 .nav-main ul.nav-menu{
    flex:1;
    margin-left: 20 px;
 }
 .nav-main{
    background-color:white;
    padding: 30px;
 }
 .nav-menu{
   display: block;
   justify-content: space-around;
 }
 /*SHOW CASE*/
 .showcase{
    width: 100%;
    height: 400px;
    background: url('./tlapalti-facebook.jpg') no-repeat center center/cover;
    padding-bottom: 50 px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
 }

 .news{
    background: #E3E3E3;
    padding-left:55px;
    padding-right:25px;
    margin-left:0px;
    width:100%;
    padding-top:5px;
 }
.news btn{
    margin-left:20px;
}
 .showcase p{
    color:#969595;
 }
 .showcase .interstext{
    color:#ffffff;
    margin-right: 20px ;
     margin-bottom: 150px;
 }
 .showcase h2{
    color: black;
 }
 .btn{
    cursor:pointer;
    display: inline-block;
    border: 0;
    font-weight:bold ;
    padding: 5px 15px;
    background: #919292 ;
    font-size: 15px;
    border:1px solid #ffffff;
    margin:10px 0;
    color:white ;
 }
 input{
    outline: none;
    box-sizing: border-box;
    height: 35px;
    width: 0;
    padding: 0 10px;
    background: #F8F8F8 ;
    color: gray;
    border-radius: 50px;
    font-size: 20px;
    border: 1px solid #6E7070;
    transition: all .7s ease;
 }

::placeholder{
    color: gray;
 }
 .btns{
    margin-top: 8px;
    position:absolute;
    right: 80px;
    top: 0;
    width: 45px;
    height: 43px;
    background: #5DFCF2;
    line-height: 40px;
    border-radius:50%;
    text-align: center;
    cursor: pointer;
    transition: .5s;
 }
 .bnts i{
    font-size: 20px;
    color: white;
    line-height: 70px;
    transition: all .7s ease;
 }
 .almacen:hover input{
    width: 350px;
 }
 .almacen:hover i{
    transform: rotate(-360deg);
 }
 .btn:hover{
    opacity: .7;
 }

 /*Aside*/
 aside{
    min-width: 30%;
    margin: 40px 20px 20px 0;
    height:100%;
    background: white;
    padding:20px;
    border-radius:3px;
    position: sticky;
    top:20px;
 }
 aside.titulo{
    font-family:'Montserrat',sans-serif;
    font-weight: normal;
    font-size: 24px;
    margin-bottom:20px ;
    color:#f2f2f2;
 }
 aside .indice .list{
    display: block;
    margin-bottom: 10px;
    color: #E0E0E0;
    justify-content: space-around;
 }
 aside .indice .list{
    color: black;
}
aside.indice{
    position: sticky;
 }
 .contenedor{
    max-width: 1000px;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
main{
    min-height: 100vh;
}
main .contenido p{
    margin-bottom: 10px;
    line-height: 20px;
    color: #525151;
}
main .contenido .titulo{
    font-family: 'Monserrat', sans-serif;
    font-weight: normal;
    padding-top: 40px;
}
main .contenido .fecha{
    font-size: 14px;
    color:#525151;
}
main.contenido .author{
    font-size: 14px;
    padding-bottom:5px;
    margin-bottom:5px;
    color:#525151;
}
.textwork{
    width:90%;
}
.textja{
    width:95%;
}
     /*Social*/
.social{
    margin: 50px;
}
.social p{
    text-align: center;
    font-size: 30px;
    margin-bottom: 20px;
}
.links{
    display: flex;
    align-items: center;
    justify-content: center;     
}
.links a{
    margin: 0 30px
}
.links a i{
    font-size: 2rem;
}
.links a:hover{
    opacity: .5;
}
 /*Footer*/
 .pie{
    clear: both;
    padding: 20px;
    background: #2d3436;
    color: #ffffff;
}
.correo{
    color:white;
}
/*Media Queris*/
@media screen and (max-width: 900px){
    main .contenedor{
        flex-direction:column;
    }
    aside{
        position: static;
    }
}
